src/main/mule/flights-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="flights-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="flights-api-config" api="flights-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="2820fd1a-690f-4f2e-a8b8-893fcba9117e" >
		<http:request-connection host="mu.mulesoft-training.com" port="80" />
	</http:request-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="f5fb037c-b055-4eec-8161-f34ef9be843a" >
		<wsc:connection wsdlLocation="${soap.wsdl}" service="TicketServiceService" port="TicketServicePort" address="http://mu.mulesoft-training.com/essentials/delta">
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="e6977bd0-477f-4e17-a916-5cb86d809e81" >
		<db:my-sql-connection host="${db.host}" port="${db.port}" user="${db.username}" password="${db.password}" database="work" />
	</db:config>
	<configuration-properties doc:name="Configuration properties" doc:id="6c5982b2-39bf-447c-8fbf-832b3681df70" file="config.yaml" />
	<flow name="flights-api-main">
        <http:listener config-ref="flights-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="flights-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="flights-api-console">
        <http:listener config-ref="flights-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="flights-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\deltaFlightsByDestination:flights-api-config">
        <logger level="INFO" message="get:\deltaFlightsByDestination:flights-api-config" />
		<flow-ref doc:name="deltaFlightsByDestinationFlow Reference" doc:id="024b1e55-d6f4-44ed-a992-9dd857bdb8e7" name="deltaFlightsByDestinationFlow"/>
    </flow>
    <flow name="get:\listAllDeltaFlights:flights-api-config">
        <logger level="INFO" message="get:\listAllDeltaFlights:flights-api-config" />
		<flow-ref doc:name="listAllDeltaFlightsFlow Reference" doc:id="9322d01e-cf0e-4603-b7b7-7b5a0fce4542" name="listAllDeltaFlightsFlow"/>
    </flow>
    <flow name="get:\listAllFlights:flights-api-config">
        <logger level="INFO" message="list all flights main flow loggerrr...." doc:name="main Logger"/>
		<flow-ref doc:name="Flow Reference" doc:id="09e6a935-ed0b-4763-a06c-1580ad3ed683" name="deltaFlightsByDestinationFlow"/>
    </flow>
    <flow name="get:\listAllFlightsByDestination:flights-api-config">
        <logger level="INFO" message="get:\listAllFlightsByDestination:flights-api-config" />
		<flow-ref doc:name="all flights by destination Flow Reference" doc:id="4fb606bb-7b01-4d88-9bee-0fbbf3783d38" name="listAllFlightsByDestinationFlow"/>
    </flow>
    <flow name="get:\listAllUnitedFlights:flights-api-config">
        <logger level="INFO" message="get:\listAllUnitedFlights:flights-api-config" />
		<flow-ref doc:name="listAllUnitedFlightsFlow Reference" doc:id="0f73e806-52c5-477b-94c0-da19a0c1fc8a" name="listAllUnitedFlightsFlow"/>
    </flow>
    <flow name="get:\unitedFlightsByDestination:flights-api-config">
        <logger level="INFO" message="get:\unitedFlightsByDestination:flights-api-config" />
		<ee:transform doc:name="Transform Message" doc:id="82e93f40-7cee-43a8-8379-2accc717bc70" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="uniqueId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.uniqueId]]></ee:set-variable>
				<ee:set-variable variableName="sourceName" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.sourceName]]></ee:set-variable>
				<ee:set-variable variableName="request" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.destination]]></ee:set-variable>
				<ee:set-variable variableName="response" ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-variable>
				<ee:set-variable variableName="requestTime" ><![CDATA[%dw 2.0
output application/java
---
now() as String {format:"yyyy-MM-dd hh:MM:ss"}]]></ee:set-variable>
				<ee:set-variable variableName="responseTime" ><![CDATA[%dw 2.0
output application/java
---
now() as String {format:"yyyy-MM-dd hh:MM:ss"}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="unitedFlightDestinationFlow Reference" doc:id="ecbbfe49-4e9b-4d60-8b37-a2f72856540d" name="unitedFlightDestinationFlow"/>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="36cf9bb0-91c0-41bc-959a-2d0104262d81" type="ANY"/>
		</error-handler>
    </flow>
</mule>
